.home {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.home h1 {
  background: rgb(0,0,0);
background: linear-gradient(93deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(24,62,175,1) 00%, rgba(255,0,0,1) 0%, rgba(255,0,0,1) 21%, rgba(255,255,255,1) 66%, rgba(255,255,255,1) 100%);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  -webkit-background-clip: text; 
  background-clip: text; 
  -webkit-text-fill-color: transparent; 
  color: transparent; 

  font-size: 2.5rem;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1.2rem;
  color: #ffffff;
  margin-bottom: 30px;
}

.section {
 
  margin-bottom: 30px;
  text-align: left;
}

.section h2 { 
  color: white;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
  
  opacity: 80%;
}

.section p {
  color: white;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.6;
 
 
}

.download-btn {
  padding: 10px 20px;
  font-size: 1rem;
  color: #ffffff;
  opacity: 70%;
  background-color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.download-btn:hover {
 opacity: 100%;
}