.home {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.home h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1.2rem;
  color: #ffffff;
  margin-bottom: 30px;
}

.section {
  margin-bottom: 30px;
  text-align: left;
}

.section h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #ffffff;
  opacity: 70%;
}

.section p {
  font-size: 1rem;
  line-height: 1.6;
  ccolor: #ffffff;
  opacity: 70%;
}

.download-btn {
  padding: 10px 20px;
  font-size: 1rem;
  color: #ffffff;
  opacity: 70%;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.download-btn:hover {
  background-color: #0056b3;
}