.horizontal-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    
  }
  
  .horizontal-nav ul li a {
    color: white;
    opacity: 80%;
    font-size: 1.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 14px 20px;
    text-decoration: none;
    display: block;
  }
  
  .horizontal-nav ul li a:hover {
  opacity: 100%;
  }
  
  .hamburger-menu {
    position: relative;
  }
  
  .hamburger-menu button {
    
   background: -webkit-linear-gradient(#f3f3f3, #e60000);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
    border: none;
    padding: 14px 20px;
    font-size: 24px;
    cursor: pointer;
  }
  
  .vertical-nav {
    position: absolute;
    top: 100%;
    left: 0;
    max-width: 40%;
    background-color: #1b000067;
    width: 100%;
  }
  
  .vertical-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .vertical-nav ul li a {
   
    
    color: white;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 14px 20px;
    text-decoration: none;
    display: block;
    transition:  0.9    ease ;
  }
  
  .vertical-nav ul li a:hover {
   opacity: 60%;
    
  }